* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
}

.NavBar {
  background-color: aliceblue;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  color: white;
  background-color: black;
  padding: 0px 10px;
}

.landingPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.getStartedButton {
  font-size: 32px;
}

.landingPageHeading {
  font-size: 90px;
}

.homeContainer {
  text-align: center;
}

.hotelFlexDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;

}

.hotelContainer {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 70%;
  display: flex;
  gap: 10px;
}

.hotelSpecsDiv {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
}

.viewDetailsDiv {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.viewMoreButton {
  background-color: black;
  color: white;
}

.loginContainer {
  width: 100vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.loginForm {
  width: 500px;
  height: 250px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.loginContainer input {
  width: 80%;
  height: 40px;
}

.signInButton {
  width: 80%;
  height: 40px;
  background-color: black;
  color: white;
}

.loginButtonDiv {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

.hotelDetailsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotelDetailsContainer>div {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 400px;
  gap: 60px;
}

.detailsFirstDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.detailsSecondDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.hotelBookingContainer {
  margin-left: 120px
}